<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceImpact.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <ServiceImpact.Properties.Settings>
            <setting name="ServiceName" serializeAs="String">
                <value>mhyprot2</value>
            </setting>
            <setting name="PollingTime" serializeAs="String">
                <value>1000</value>
            </setting>
        </ServiceImpact.Properties.Settings>
    </applicationSettings>
</configuration>